server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: {{ env "LOKI_ENDPOINT" | default "http://localhost:3100/loki/api/v1/push" }}
    tenant_id: ""

scrape_configs:
  - job_name: vue-nginx-logs
    pipeline_stages:
      - match:
          selector: '{job="vue-nginx"}'
          stages:
            - regex:
                expression: '^(?P<remote_addr>[^ ]*) (?P<remote_user>[^ ]*) \[(?P<time_local>[^]]*)] "(?P<request>[^"]*)" (?P<status>[^ ]*) (?P<body_bytes_sent>[^ ]*) "(?P<http_referer>[^"]*)" "(?P<http_user_agent>[^"]*)"'
            - labels:
                status: ""
                remote_addr: ""
    static_configs:
      - targets:
          - localhost
        labels:
          job: vue-nginx
          app: healthyreal-frontend
          env: dev
          service: vue
          __path__: /var/log/nginx/*log

